@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Roboto', sans-serif;
	width: 70%;
	margin: auto;
}

h1 {
	text-align: center;
  	font-size: 3rem;
}

.flex-images {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
img {
    width: 50%;
}
