@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Roboto', sans-serif;
	width: 70%;
	margin: auto;
}

h1 {
	text-align: center;
  	font-size: 3rem;
}
img {
    margin: 0 auto;
    width: 50%;
}
